{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock title %}

{% block content %}
    <h1>{{ user.get_full_name }}</h1>
    <div class="profile-info">
        <img src="{% thumbnail user.profile.photo 180x180 %}" alt="{{ user.username }}'s profile image">
    </div>
    {% with total_followers=user.followers.count %}
        <span class="count">
            <span class="total">{{ total_followers }}</span>
            follower{{ total_followers|pluralize }}
        </span>
        <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
            {% if request.user in user.followers.all %}
                Unfollow
            {% else %}
                Follow
            {% endif %}
        </a>
        <div id="image-list" class="image-container">
            {% include "images/image/list_images.html" with images=user.images_created.all %}
        </div>
    {% endwith %}
{% endblock content %}

{% block domready %}
    const currentUserId = '{{ request.user.id }}';
    let follow = document.querySelector("a.follow");

    if (follow.dataset.id != currentUserId) {
        const url = '{% url "user_follow" %}'
        let options = {
            method: "POST",
            headers: {"X-CSRFToken": csrftoken},
            mode: "same-origin",
        }

        follow.addEventListener("click", function(e) {
                e.preventDefault();
                let followButton = this;

                // Add request body
                let formData = new FormData();
                formData.append("id", followButton.dataset.id);
                formData.append("action", followButton.dataset.action);
                options["body"] = formData;

                // Send HTTP-request
                fetch(url, options)
                    .then(response => response.json())
                    .then(data => {
                        let previousAction = followButton.dataset.action;

                        // Updata button inner text and dataset
                        let action = previousAction == "follow" ? "unfollow" : "follow";
                        followButton.innerHTML = action;
                        followButton.dataset.action = action;

                        // Update followers counter
                        let followerCount = document.querySelector("span.count .total");
                        let totalFollowers = parseInt(followerCount.innerHTML);
                        followerCount.innerHTML = previousAction == "follow" ? totalFollowers + 1 : totalFollowers - 1;
                    })
                });
    } else {
        follow.parentNode.removeChild(follow);
    }

{% endblock domready %}